.container {
  height: 100vh;
  width: 100%;
  position: relative;
}

.header {
  height: 70px;
  position: fixed;
  width: 100%;
  background-color: #ded9d9;
  z-index: 1;
  @media (max-width: 376px) {
    height: 55px;
  }
}

.img {
  position: absolute;
  right: 60px;
  top: 14px;
  @media (max-width: 376px) {
    width: 150px;
    right: 35px;
    z-index: -1;
  }
}